services:
  backend:
    build: .
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - ALGORITHM=${ALGORITHM}
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=autoNow'
      - 'POSTGRES_PASSWORD=12345'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432'
