spring.datasource.url=jdbc:postgresql://localhost:5432/autoNow
spring.datasource.username=postgres
spring.datasource.password=12345

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update

springdoc.swagger-ui.enabled=false
springdoc.info.title=AutoNow API
springdoc.info.description=API documentation for AutoNow backend services.
springdoc.info.version=v1
springdoc.servers=

jwt.secret=${JWT_SECRET}
jwt.algorithm=${JWT_ALGORITHM}
jwt.expiration=${JWT_EXPIRATION}
